extensions:
    tag: Dravencms\Tag\DI\TagExtension


nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsTag:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/tag/src/Dravencms/Model/Tag
                    namespace: Dravencms\Model\Tag