extensions:
    tag: Dravencms\Tag\DI\TagExtension

services:
    tag.tagPresenter:
        class: Dravencms\AdminModule\TagModule\TagPresenter


nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsTag:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/tag/src/Dravencms/Model/Tag
                    namespace: Dravencms\Model\Tag
